body
{
    background: rgb(62,12,64);
    background: linear-gradient(90deg, rgba(62,12,64,1) 0%, rgba(170,9,127,1) 79%);
}
.container1 {
    background-color: white;
    width: 250px;
    height: 50%;
    margin: 130px auto;  
    padding: 30px 50px 40px;
    position: relative;
    border-radius: 20px;
}

button
{
    background-color: #cb184e;
    color: black;
    margin: 20px;
    font-family:monospace;
    font-weight: 700;
    width: 80px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.title
{
    font-family:monospace;
    font-weight: 100;
    font-size: 30px;
    margin: 20px 40px;
}
.container2 {
    background-color: white;
    width: 250px;
    height: 50%;
    margin: 100px auto;  
    padding: 30px 50px 40px;
    position: relative;
    border-radius: 20px;
}
.slider
{
    position: 10px
}
h2
{
    font-size: 20px;
    margin: 10px 30px;
    font-family:monospace;
    font-weight: 700;
}
.volume-container
{
    background-color: white;
    padding: 10px 20px;
    width: 150px;
    border-radius: 20px;
   
}
